{% extends "base.html" %}

{% block page_content %}
<h1 style="text-align: center;"> <span style="font-weight: bold; color:#ffae00">Aanhik's</span>

    <span style="color:#FF0000">L</span>
    <span style="color:#b3ff00">E</span>
    <span style="color:#0011ff">G</span>
    <span style="color:#ffe600">O</span>
    <span style="color:#00f7ff">L</span>
    <span style="color:#ff00c8">A</span>
    <span style="color:#131212">N</span>
    <span style="color:#FF0000">D</span>
            
            !</h1>
            <div ></div>
    <div>
        <img src={{image}} alt=""  class="imgsize">
    </div>
    <div ></div>
{% endblock %}
